/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*font-family: 'Dosis', sans-serif*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
/*font-family: 'Raleway', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --main-color: #ff724c;
}
.container{
    width: 75%;
}
.border-custom{
    border-color: var(--main-color) !important;
}
h2{
    font-size: 48px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
}
h3{
    color: #3b3b3b;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.csuom-btn{
   background-color: var(--main-color);
   line-height: 2.5;
}
.csuom-btn i{
    transition: 0.5s;
}
.nav-link{
    position: relative;
    font-family: 'Roboto', sans-serif;
}
nav .nav-link::after{
    content: "";
    position:absolute;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    bottom: -9px;
    left: 0;
    transition: 0.5s;
}
nav .nav-link:hover::after{
    width: 100%;
}
nav .nav-link.active::after{
    width: 100%;
}
.csuom-btn:hover i{
    transform: rotate(360deg);
    background-color: #3b3b3b !important;
    color: #f3f3f3 !important;
}

/*start header*/
.header{
    background-image: url(../img/introbg5.png);
    background-repeat: no-repeat;
    background-position-y:-60px;
    background-attachment: fixed;
}
.header span, .header p{
    font-size: 23px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: #313335;
    line-height: 27.6px;
}
h1{
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
    font-weight: 700;
}
.icons i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-left: 15px;
    border: 1px solid;
}
.icons i:nth-of-type(1){
    color: #3b5999;
    border-color: #3b5999;
}
.icons i:nth-of-type(2){
    color: #ea4c89;
    border-color: #ea4c89;
}

.icons i:nth-of-type(3){
    color: #1769ff;
    border-color: #1769ff;
}

.icons i:nth-of-type(4){
    color: #0077b5;
    border-color:#0077b5;
}

.icons i:nth-of-type(5){
    color: #dd4b39;
    border-color:#dd4b39;
}

.icons i:nth-of-type(1):hover{
    color: #f3f3f3;
    background-color: #3b5999;
}
.icons i:nth-of-type(2):hover{
    color: #f3f3f3;
    background-color:#ea4c89;
}
.icons i:nth-of-type(3):hover{
    color: #f3f3f3;
    background-color:#1769ff;
}
.icons i:nth-of-type(4):hover{
    color: #f3f3f3;
    background-color:#0077b5;
}
.icons i:nth-of-type(5):hover{
    color: #f3f3f3;
    background-color:#dd4b39;
}
/*end header*/

/*start about*/
.about .numbers{
   background-color: #3b3b3b;
}
.about .numbers span{
    font-size: 26px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.about .numbers p{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif
}
.about .container > .row{
    width: 90%;
    margin: auto;
}
.about .descrption{
    background-color: var(--main-color);
}
.title span{
    position: absolute;
    font-weight: 600;
    /*عشان احركه بالنسبة للاب*/
    top: -30px;
    left: -15px;
    padding-right: 12px;
    padding-bottom:4px;
}
.title span:not(.about span){
    color: #818181;
}
.about h2{
    width: 80%;
}
.custom-icon{
    background-color: #3b3b3b;
    padding: 15px;
    font-size: 13px;
    color: #f3f3f3;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}
.about .btn-custom span{
    color: #3b3b3b;
    /*padding-right: 20px;*/
    font-size: 14px;
    font-weight: 600;
}
.about .btn-custom:hover i{
    color: var(--main-color);
}
/*end about*/

/* start services*/
.services p{
    color: #818181;
    width: 85%;
    margin: auto;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 14px;
}
.services .services-item{
    position: relative;
}
.services .services-item::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.073);
    width: 100%;
    height: 0;
    position: absolute;/*عشان تيجي فوق عنصر*/
    z-index: -1;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.5s;/*العملية بتصير خلال هاد الوقت*/
}
.services .services-item:hover::before{
    height: 100%;
}
/* end services*/

/* start portfolio*/
.portfolio{
    background-color: #f3f3f3;
}
.portfolio .nav-link{
   color: #5f5f5f;
   font-size: 13px;
   font-size: 700;
   margin: 0 5px;
   font-family: 'Raleway', sans-serif;
   text-transform: capitalize;
   border: 1px solid #5f5f5f;

}
.portfolio .nav-link.active{
    background-color: var(--main-color);
    color: #f3f3f3;
    border: none;
}
.portfolio .nav-link:hover{
    border: 1px solid #5f5f5f;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.094);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    transform: scaleY(0);
    transition: 0.5s 0.2s;
}
.overlay i{
    background-color:var(--main-color);
    color: #f3f3f3;
    padding: 15px;
    border-radius: 50%;
    transform: scaleY(0);
    transition: 0.5s 0.2s;
}
.portfolio-item:hover .overlay{
    transform: scaleY(1);
}
.portfolio-item:hover .overlay i{
    transform: scaleY(1) rotate(360deg);
}
.overlay i:hover{
    background-color: transparent;
    border: 0.7px solid white;
    color: var(--main-color);
}
.portfolio h3{
        color: #3b3b3b;
        font-size: 15px;
}
.info i{
    color: var(--main-color);
}
.portfolio .info{
    position: absolute;
    background-color:white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    /*bottom: 0;/*يعني الحفف ع بعض*/
    bottom: 30px;
    opacity: 0;
    transition: 0.5s;
}
.portfolio-item{
    margin-bottom: 20px;
}
.portfolio-item:hover .info{
    bottom: 0;
    opacity: 1;
}